<nav class="navigation center">
    <a class="menu" href="{% url 'main:booking-create' %}">Забронировать стол</a>
    <a class="menu">/</a>
    <a class="menu" href="{% url 'main:menu' %}">Меню</a>
    <a class="menu">/</a>
    <a class="menu" href="{% url 'main:info' %}">На главную</a>
    {% if user.is_staff %}
    <a class="menu">/</a>
    <a class="menu" href="{% url 'main:booking-list' %}">Бронирования</a>
    <a class="menu">/</a>
    <a class="menu" href="{% url 'main:table-list' %}">Столы</a>
    <a class="menu">/</a>
    <a class="menu" href="{% url 'users:profile' %}">Профиль</a>
    {% endif %}
</nav>