{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История вкуса</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
<header>
    <div class="top center">
        <h1 class="title__catalog">Ресторан "ИСТОРИЯ ВКУСА"</h1>
    </div>
</header>
<main>
    <section class="content">
        {% include 'includes/info_menu.html' %}


        {% block content %}
        {% endblock %}
    </section>
</main>

<footer class="footer center">

    <div class="footer__content">
        <section class="footer__info">
            <nav class="navigation navigation__footer center">
                <a class="menu" href="{% url 'main:booking-create' %}">Забронировать стол</a>
                <a class="menu" href="{% url 'main:menu' %}">Меню</a>
                <a class="menu" href="{% url 'main:info' %}">На главную</a>
            </nav>
            <div class="footer__item">
                <h4 class="contacts">Контакты</h4>
                <a class="menu__link" href="">+7 996 545 49 09</a>
                <a class="menu__link" href="">vvnfrd@proton.me</a>
                <div class="footer__icons">
                    <img class="tg_logo" src="/media/tg.svg" alt="Телеграм">
                </div>
            </div>
            <form class="footer__form" action="{% url 'ad:subscriber-create' %}" method="POST">
                {% csrf_token %}
                    <p class="subscription">Получайте наши новости и обновления</p>
                    <input class="email" placeholder="Ваш e-mail" type="email" name="email_field">
                    <button class="button">Подписаться</button>
                </form>
        </section>
    </div>
</footer>
</body>

</html>