{% extends 'base.html'%}
{% block content %}

<section class="product-box center">

    {% block table_list %}
    {% endblock %}

    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}