{% extends 'base.html'%}
{% block content %}

<section class="product-box center">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div>
                <div>
                    <div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="subscription">
                                <p>Получать новости об акциях</p>
                            <input class="email-checkbox" type="checkbox" name="sub_status">
                                </div>
                            <button class="button" type="submit">
                                Забронировать
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<div class="table-list center">
            <div class="product-content">
              {% for table in tables|dictsort:'pk' %}
                <div class="product">
                    <h3 class="product__name">Стол №{{table.pk}}</h3>
                    {% if table.is_vip %}
                      <p class="product__overview">VIP</p>
                    {% endif %}
                    {% if table.free %}
                    <p class="product__overview">Свободен</p>
                    {% else %}
                    <p class="product__overview">Занят</p>
                    {% endif %}
                    <p class="product__overview">Кол-во мест: {{table.seats}}</p>
                </div>
              {% endfor %}
            </div>
    <img class="table-list-map" src="/media/map_with_numbers.png" alt="map">
</div>

</section>
{% endblock %}