{% extends 'base.html'%}
{% block content %}
{% load has_group %}
{% for post in content|dictsort:'subsequence' %}
<div class="catalog__info center">

    {% if post.reversed %}
    <div class="info-flex reverse">
        {% else %}
        <div class="info-flex">
            {% endif %}
            <div class="info-text">
                <p class="text">{{post.text1}}</p>
                {% if post.text2 %}
                <p class="text">{{post.text2}}</p>
                {% endif %}
                {% if post.text3 %}
                <p class="text">{{post.text3}}</p>
                {% endif %}
            </div>
            {% if post.image %}
            <img class="pic" src="{{MEDIA_URL}}{{post.image}}" width="500px" height="350px">
            {% endif %}
        </div>
        {% if user|has_group:'promotioner' or user.is_superuser %}
        <div class="content-edit">
            <a class="button-update" href="{% url 'main:content-update' post.pk %}" role="button">Редактировать</a>
            <a class="button-delete" href="{% url 'main:content-delete' post.pk %}" role="button">Удалить</a>
        </div>
        {% endif %}
        {% endfor %}
        {% endblock %}