{% extends 'base.html'%}
{% block content %}
<div class="catalog__info center">
    <div class="info-flex">
        <div class="info-text">
            <p class="text">Добро пожаловать в ресторан "История вкуса" — место, где
                каждый момент становится частью великой традиции.</p>
            <p class="text">Наш ресторан с многолетней историей — это не просто заведение, это целый мир, в котором
                сочетаются вкус,
                культура и атмосфера уюта. Открыв свои двери более десяти лет назад, мы с гордостью стали частью
                гастрономической карты города. Мы храним лучшие традиции ресторанного искусства, но при этом не боимся
                экспериментировать, чтобы удивлять вас новыми яркими вкусами.</p>
        </div>
        <img class="pic" src="/media/pic1.png" alt="pic1" width="500px" height="350px">
    </div>
    <div class="info-flex reverse">
        <div class="info-text">
            <p class="text">Каждый уголок нашего ресторана хранит свою историю. Мы по праву гордимся тем, что наша кухня
                —
                это сочетание древних рецептов и современных тенденций. Здесь с любовью готовят блюда, которые
                вобрали в себя культуру разных уголков мира, но при этом остаются искренне
                родными для нашего региона.</p>
            <p class="text">Наши повара — настоящие мастера своего дела, а официанты знают, как сделать каждый ваш визит
                по-настоящему особенным. Мы уделяем внимание каждой детали, от подачи блюд до атмосферы,
                чтобы ваше время, проведенное у нас, стало незабываемым.</p>
        </div>
        <img class="pic" src="/media/pic2.png" alt="pic2" width="500px" height="350px">

    </div>
    <div class="info-flex">
        <div class="info-text">

            <p class="text">Каждый вечер в нашем ресторане звучит живая музыка, создавая неповторимую атмосферу для тех,
                кто ценит качественный отдых и желает насладиться не только вкусом, но и звуками,
                которые заставляют сердце биться в такт. Наша музыкальная программа — это разнообразие
                стилей и жанров, от джаза до акустических выступлений, которые подходят для
                романтического ужина или встречи с друзьями.</p>
        </div>
        <img class="pic" src="/media/pic3.png" alt="pic2" width="500px" height="350px">
    </div>
    <div class="info-flex reverse">
    <div class="info-text">
        <p class="text">В ресторане предусмотрено несколько видов столов, чтобы вы могли выбрать то, что идеально
            соответствует вашему настроению или особому случаю:</p>
        <ul>
            <li class="text">6 уютных столов на 4 человека — для комфортных ужинов в компании близких.</li>
            <li class="text">3 VIP стола на 8 человек — для тех, кто ценит приватность и атмосферу роскоши.</li>
        </ul>
    </div>
    <img class="pic" src="/media/map.png" alt="map" width="500px" height="350px">
</div>
<p class="text">"История вкуса" — это не просто ресторан, это место, где каждый гость становится частью нашей
    долгой и увлекательной гастрономической истории. Ждем вас,
    чтобы вместе создать новые воспоминания!</p>
</div>


{% endblock %}