{% extends 'base.html'%}
{% block content %}
<div class="table-list center">
    {% if user.is_staff %}
    <a class="menu" href="{% url 'main:table-create' %}" role="button">Создать</a>
            <div class="product-content">
              {% for table in tables|dictsort:'number' %}
                <div class="product">
                    <h3 class="product__name">Стол №{{table.number}}</h3>
                    {% if table.is_vip %}
                      <p class="product__overview">VIP</p>
                    {% endif %}
                    {% if table.free %}
                    <p class="product__overview">Свободен</p>
                    {% else %}
                    <p class="product__overview">Занят</p>
                    {% endif %}
                    <p class="product__overview">Кол-во мест: {{table.seats}}</p>
                    <a class="button-update" href="{% url 'main:table-update' table.pk %}" role="button">Редактировать</a>
                    <a class="button-delete" href="{% url 'main:table-delete' table.pk %}" role="button">Удалить</a>
                </div>
              {% endfor %}
            </div>
    <img class="table-list-map" src="/media/map_with_numbers.png" alt="map">
    {% else %}
    <p class="product__overview">У вас нет доступа.</p>
    {% endif %}
</div>
{% endblock %}